<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cque.jianxing.demolistview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FirstActivity"
            android:label="使用Adapter加载数据" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="自定义Adapter"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="从数组资源中加载列表项"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ForthActivity"
            android:label="从文件中获取数据并加载"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".FifthActivity"
            android:label="自定义 Item 布局"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ShowActivity"
            android:label="详情展示" >
        </activity>
        <activity
            android:name=".SimpleAdapterActivity"
            android:label="@string/title_activity_simple_adapter"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".BaseAdapterActivity"
            android:label="@string/title_activity_base_adapter"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ShowActivity2"
            android:label="@string/title_activity_show_activity2" >
        </activity>
        <activity
            android:name=".ShowActivity3"
            android:label="@string/title_activity_show_activity3" >
        </activity>
    </application>

</manifest>
